<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="w-100 btn btn-secondary btn-lg" type="button"
        th:onclick="|location.href='@{/api/item/add}'|">
    board 등록
</button>

<table>
    <tr>
        <td>글 번호</td>
        <td>제목</td>
        <td>작성자</td>
    </tr>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.communityBoardId}">board 번호</td>
        <td th:text="${board.communityBoardTitle}">board 제목</td>
        <td th:text="${board.writer.memberNickname}">board 작성자</td>
    </tr>
</table>
</body>
</html>