<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="w-100 btn btn-secondary btn-lg" type="button"
        th:onclick="|location.href='@{/item/add}'|">
    board 등록
</button>



<table>
    <tr>
        <td>글 번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>생성 시간</td>
    </tr>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.communityBoardId}">board 번호</td>
        <td>
            <a href="#" th:text="${board.communityBoardTitle}"
               th:href="@{/item/{id}(id=${board.communityBoardId})}">
            </a>
        </td>
        <td th:text="${board.writer.memberId}">board 작성자</td>
        <td th:text="${board.createdDate}">생성 시간</td>
    </tr>
</table>
</body>
</html>