<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="chat">-->
<!--    <div>-->
<!--        <div class="chat_body">-->
<!--            <h2 class="chat_title">1번방</h2>-->
<!--            <button class="chat_back">◀</button>-->

<!--            <ul class="chat_list" th:each="chatRoom : ${chatRoomList}">-->
<!--                <li>-->
<!--                    <div class="notification">-->
<!--                        <span></span>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->

<!--            <div class="chat_input">-->
<!--                <div class="chat_input_area">-->
<!--                    <textarea></textarea>-->
<!--                </div>-->

<!--                <div class="chat_button_area">-->
<!--                    <button>전송</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="chat_users">-->
<!--            <h2>-->
<!--                참가인원-->
<!--                <span class="user"></span>-->
<!--            </h2>-->

<!--            <div class="chat_nickname">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>