<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/deafult.css">
  <link rel="stylesheet" href="./css/header_footer.css">
  <link rel="stylesheet" href="./css/main.css">
  <title>Hellmunity</title>
</head>

<body>
  <div class="page">
    <!-- header -->
    <header class="header">
      <img src="./image/dumbel.png" alt="">
      <a href="./home.html"><h1>Hellmunity</h1></a>
    </header>

    <!-- 로그인, 로그아웃 -->
    <ul class="login">
      <a href="./signin.html">
        <li class="login-item">로그인</li>
      </a>
      <a href="./signup.html">
        <li class="login-item">회원가입</li>
      </a>
    </ul>

    <!-- menu -->
    <ul class="menu">
      <a href="./home.html"><li class="menu-item">홈</li></a>
      <a href="#"><li class="menu-item">모임</li></a>
      <a href="qna.html"><li class="menu-item">Q&A</li></a>
    </ul>

    <div class="main-content">

    </div>


    <!-- footer -->

    <footer class="footer">
      <hr>
      <div>
        <ul>
          <li>이메일 : kmw3841@skuniv.ac.kr</li>
          <li>주소 : 서울 성북구 서경대학교</li>
          <li>연락처 : 010-0000-0000</li>
          <li>copry right @ mwkim</li>
        </ul>
      </div>
    </footer>

  </div>
</body>

</html>