<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>



    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <title>Hellmunity</title>

    <script type="text/javascript">

        window.onload = function() {
            var httpRequest;
            // 호출 버튼을 클릭하였을 때, 데이터를 요청하고 받아오는 Ajax 구현 부분
            document.getElementById("logout").addEventListener('click', () => {
                httpRequest = new XMLHttpRequest();
                httpRequest.open('POST', '/logout', false); //false 옵션은 비동기 처리 X
                httpRequest.send();
                alert("로그아웃 처리 완료");
                window.location.href="/";
            });
        }
    </script>
</head>

<body>
<div class="page">
    <!-- header -->
    <header class="header">
        <img th:src="@{/image/dumbel.png}" alt="">
        <a th:href="@{/}"><h1>Hellmunity</h1></a>
    </header>

    <!-- 로그인, 로그아웃 -->
    <ul class="login">
        <a th:if="${session.memberNo}" th:href="@{/member/mypage}">
            <li class="login-item">마이페이지</li>
        </a>
        <a th:unless="${session.memberNo}" th:href="@{/members/add}">
            <li class="login-item">회원가입</li>
        </a>

        <a th:if="${session.memberNo}" id="logout" href="#">
            <li class="login-item">로그아웃</li>
        </a>
        </a>
        <a th:unless="${session.memberNo}" th:href="@{/login}">
            <li class="login-item">로그인</li>
        </a>
    </ul>

    <!-- menu -->
    <ul class="menu">
        <a th:href="@{/}"><li class="menu-item">홈</li></a>
        <a th:href="@{/crwal}"><li class="menu-item">운동 영상</li></a>
        <a th:href="@{/moim}"><li class="menu-item">모임</li></a>
        <a th:href="@{/questions}"><li class="menu-item">Q&A</li></a>
    </ul>

    <div class="main-content">

        <div class="container">
            <div class="text-center py-3">
                <img th:src="@{/image/user.png}" alt class="ui-w-100 rounded-circle">

                <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
                    <h4 class="font-weight-bold my-4">[[${member.memberName}]]의 마이페이지</h4>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs tabs-alt justify-content-center">
            <li class="nav-item">
                <a class="nav-link py-4 active" th:href="@{/member/mypage}">내 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-4" th:href="@{/member/mypage/qnaList}">Q&A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-4" th:href="@{/member/mypage/moimList}">모임 글</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-4" th:href="@{/chat/rooms}">채팅방</a>
            </li>
        </ul>


        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <!-- /.col-lg-3 -->

                <div class="col-lg-9 mx-auto mt-5">
                    <!-- 프로필 -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">아이디</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" th:value="${member.memberId}" readonly>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">닉네임</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" th:value="${member.memberName}" readonly>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">비밀번호 변경</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">비밀번호 변경 확인</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>

                            <!-- 비밀번호 변경 저장 버튼 -->
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="button" class="btn btn-primary px-4" value="비밀번호 변경">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.row -->
                </div>
                <!-- /.col-lg-9 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    </div>

</div>



<!-- footer -->
<div id='wrap'>
    <footer class="py-5 bg-dark mt-auto">
        <p class="m-0 text-center text-white">Copyright &copy; Hellmunity Website 2022</p>
    </footer>
</div>

<style>
    #wrap {
        min-height: 20vh;
        position: relative;
        width: 100%;
    }

    footer {
        width: 100%;
        height: 110px;
        /* 내용물에 따라 알맞는 값 설정 */
        bottom: 0px;
        position: absolute;
    }

    footer{ position:fixed;
        left:0px;
        bottom:0px;
        height:100px;
        width:100%;
        background:grey;
        color: white;
        text-align: center}
</style>
<!--<div class="fixed-bottom">-->
<!--    <div class="d-flex flex-column">-->
<!--        <footer class="py-5 bg-dark mt-auto">-->
<!--            <p class="m-0 text-center text-white">Copyright &copy; Hellmunity Website 2022</p>-->
<!--        </footer>-->
<!--    </div>-->
<!--</div>-->

<!--<footer class="footer">-->
<!--    <hr>-->
<!--    <div>-->
<!--        <ul>-->
<!--            <li>이메일 : kmw3841@skuniv.ac.kr</li>-->
<!--            <li>주소 : 서울 성북구 서경대학교</li>-->
<!--            <li>연락처 : 010-0000-0000</li>-->
<!--            <li>copry right @ mwkim</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</footer>-->

</div>
</body>

</html>