<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" th:href="@{/css/qna.css}">
    <!-- <link rel="stylesheet" href="./css/qna-example.css"> -->
    <title>Hellmunity</title>
    <!-- Jquery Import  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">

        window.onload = function() {
            var httpRequest;
            // 호출 버튼을 클릭하였을 때, 데이터를 요청하고 받아오는 Ajax 구현 부분
            document.getElementById("logout").addEventListener('click', () => {
                httpRequest = new XMLHttpRequest();
                httpRequest.open('POST', '/logout', false); //false 옵션은 비동기 처리 X
                httpRequest.send();
                alert("로그아웃 처리 완료");
                window.location.href="/";
            });
        }
    </script>
</head>

<body>
<div class="page">
    <!-- header -->
    <header class="header">
        <img th:src="@{/image/dumbel.png}" alt="">
        <a th:href="@{/}"><h1>Hellmunity</h1></a>
    </header>

    <!-- 로그인, 로그아웃 -->
    <ul class="login">
        <a th:if="${session.memberNo}" th:href="@{/member/mypage}">
            <li class="login-item">마이페이지</li>
        </a>
        <a th:unless="${session.memberNo}" th:href="@{/members/add}">
            <li class="login-item">회원가입</li>
        </a>

        <a th:if="${session.memberNo}" id="logout" href="#">
            <li class="login-item">로그아웃</li>
        </a>
        </a>
        <a th:unless="${session.memberNo}" th:href="@{/login}">
            <li class="login-item">로그인</li>
        </a>
    </ul>

    <!-- menu -->
    <ul class="menu">
        <a th:href="@{/}"><li class="menu-item">홈</li></a>
        <a th:href="@{/crwal}"><li class="menu-item">운동 영상</li></a>
        <a th:href="@{/moim}"><li class="menu-item">모임</li></a>
        <a th:href="@{/questions}"><li class="menu-item">Q&A</li></a>
    </ul>


    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h3>Q&A 게시글 </h3>
            </div>
        </div>

        <!-- board 검색 -->
        <div id="board-search">
            <div class="container">
                <div class="search-window">
                    <form th:action="@{/questions/search}" th:method="GET">
                        <div class="search-wrap">
                            <label for="search" class="blind">Q&A 제목으로 검색</label>
                            <input id="search" type="search" name="communityBoardTitle" placeholder="검색어를 입력해주세요." value="">
                            <button type="submit" class="btn btn-dark">검색</button>
                        </div>
                    </form>

                    <div class="qna-register">
                        <button class="btn-qna-register btn btn-dark" th:onclick="|location.href='@{/question/add}'|">
                            Q&A 작성
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <!-- board 목록 -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-date">등록일</th>
                        <th scope="col" class="th-user">작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board : ${boardList}">
                        <td th:text="${board.communityBoardId}">번호</td>
                        <td>
                            <a href="#" th:text="${board.communityBoardTitle}"
                               th:href="@{/question/{id}(id=${board.communityBoardId})}">제목
                            </a>
                        </td>
                        <td th:text="${board.createdDate}">등록일</td>
                        <td th:text="${board.writer.memberId}">board 작성자</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="page_wrap"
             th:with="start=${(boardList.number/maxPage)*maxPage + 1},
             end=(${(boardList.totalPages == 0) ? 1 : (start + (maxPage - 1) < boardList.totalPages ? start + (maxPage - 1) : boardList.totalPages)})">
            <div class="page_nation">
                <!--첫 페이지로 이동-->
                <a th:if="${start > 1}" th:href="@{/questions/search?(page=0,,communityBoardTitle=${communityBoardTitle})}" th:text="'<<'"></a>

                <!--이전 페이지로 이동-->
                <a th:if="${start > 1}" th:href="@{/questions/search?(page=${start - maxPage - 1},,communityBoardTitle=${communityBoardTitle})}" th:text="'<'"></a>

                <!--페이지 표기-->
                <a th:each="page: ${#numbers.sequence(start, end)}" th:href="@{/questions/search?(page=${page-1},communityBoardTitle=${communityBoardTitle})}"
                   th:text="${page}"
                   th:classappend="${page-1 == boardList.number} ? 'active'"></a>

                <!--다음 장으로 이동 -->
                <a th:if="${end < boardList.totalPages}" th:href="@{/questions/search?(page=${start + maxPage - 1},communityBoardTitle=${communityBoardTitle})}"
                   th:text="'>'"></a>

                <!--마지막 페이지로 이동-->
                <a th:if="${end < boardList.totalPages}" th:href="@{/questions/search?(page=${boardList.totalPages-1},communityBoardTitle=${communityBoardTitle})}"
                   th:text="'>>'"></a>
            </div>
        </div>


        <!-- footer -->
        <div id='wrap'>
            <footer class="py-5 bg-dark mt-auto">
                <p class="m-0 text-center text-white">Copyright &copy; Hellmunity Website 2022</p>
            </footer>
        </div>

        <style>
            #wrap {
                min-height: 20vh;
                position: relative;
                width: 100%;
            }

            footer {
                width: 100%;
                height: 110px;
                /* 내용물에 따라 알맞는 값 설정 */
                bottom: 0px;
                position: absolute;
            }

            footer{ position:fixed;
                left:0px;
                bottom:0px;
                height:100px;
                width:100%;
                background:grey;
                color: white;
                text-align: center}
        </style>
        <!-- footer -->
        <!--        <footer class="footer">-->
        <!--            <hr>-->
        <!--            <div>-->
        <!--                <ul>-->
        <!--                    <li>이메일 : kmw3841@skuniv.ac.kr</li>-->
        <!--                    <li>주소 : 서울 성북구 서경대학교</li>-->
        <!--                    <li>연락처 : 010-0000-0000</li>-->
        <!--                    <li>copry right @ mwkim</li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </footer>-->
</body>

</html>